<!DOCTYPE html>
    <html ng-app="AngularApp">
        <head>
			<meta charset="utf-8">
            <title>Angular App</title>
            <link rel="stylesheet" type="text/css" href="tooltip.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
			<script src="app.js"></script>
        </head>
        <body>
			
			<h1>AngularJS App by </h1>
			<div ng-controller="Controller1" ng-click="hideToolTip()">
				
				<div ng-click="$event.stopPropagation()" ng-show="showToolTip">
					<input type="text" ng-model="value"/>
					
				</div>
				
				<p ng-click="toggleTooltip($event)">{{value}}</p>
					
			</div>

        </body>
    </html>
