<!DOCTYPE html>
    <html ng-app="AngularApp">
        <head>
			<meta charset="utf-8">
            <title>Angular App</title>
            <link rel="stylesheet" type="text/css" href="tooltip.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
			<script src="app.js"></script>
        </head>
        <body>
			<br><br><br><br><br>

			<div ng-controller="Controller1" ng-click="hideToolTip()">
				
				<div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showToolTip">
					<input type="button" value="Here is the tooltip!"/>
					
				</div>
				<br><br>
				<p ng-click="toggleToolTip($event)">Click to see tooltip</p>
					
			</div>

        </body>
    </html>
