<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
 
 
  </head>
  <body>
    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
          <h1>Marketing stuff!</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>
     
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
      
      <footer class="footer">
          <p>&copy; Company 2015</p>
      </footer>
    </div>
     
  </body>
</html>